<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{title}}
    </div>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='listFilter' />
            </div>
        </div>
        <div class='row'>
            <div class='col-md-6'>
                <h3>Filtered by: {{listFilter}}</h3>
            </div>
        </div>
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>Topic</th>
                        <th>Subject</th>
                        <th>Author</th>
                        <th>Start Date</th>
                        <th>Last Update</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let topic of topics'>
                        <td>
                            <a>
                                {{ topic.title }}
                            </a>
                        </td>
                        <td>{{ topic.subject }}</td>
                        <td>{{ topic.author }}</td>
                        <td>{{ topic.startdate | date }}</td>
                        <td>{{ topic.lastupdate | date }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>